.container {
    width: 400px;
    background-color: #c3cfe2;      
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    
}

.container__box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    &--top {
    background-color: white;
    border-radius: 25px 25px 0px 0px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    &--bottom {
       background-color:#686de0;
       border-radius: 0px 0px 25px 25px; 
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
}



img {
    width: 25%;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    
    margin: auto;
   
}

.box__text {
    padding: 20px;
    padding-bottom: 40px;
    font-size: 20px;
    line-height: 30px;
    color: rgb(85, 84, 84);
    &--bottom {
        padding: 20px;
        padding-top: 40px;
        font-size: 20px;
        line-height: 25px;
        color:white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.1em;
                }
    &--link {
         text-decoration: none; 
         color: white;
         font-size: 17px;
         opacity: 0.5;
         text-transform: none;
         letter-spacing: normal;
    }
}


  